---
# Styles for MHO App Posts Links
# v2.0
# https://github.com/abukanzfikri/mhoapp
# © 2020 Abukanz Fikri
# MIT License
---


{% include_relative _addon/main.scss %}
{% include_relative _addon/syntax.scss %}

#post-wrapper .post-content a.mhoapp.blue {
  color: inherit;
  background: linear-gradient(to top, transparent 0%, var(--blue) 0%, var(--blue) 100%, transparent 100%) no-repeat left 0 bottom 0;
  background-size: 100% .4rem;
  transition: background-size 250ms ease;
}

#post-wrapper .post-content a.mhoapp.green {
  color: inherit;
  background: linear-gradient(to top, transparent 0%, var(--green) 0%, var(--green) 100%, transparent 100%) no-repeat left 0 bottom 0;
  background-size: 100% .4rem;
  transition: background-size 250ms ease;
}

#post-wrapper .post-content a.mhoapp.orange {
  color: inherit;
  background: linear-gradient(to top, transparent 0%, var(--orange) 0%, var(--orange) 100%, transparent 100%) no-repeat left 0 bottom 0;
  background-size: 100% .4rem;
  transition: background-size 250ms ease;
}

#post-wrapper .post-content a.mhoapp.pink {
  color: inherit;
  background: linear-gradient(to top, transparent 0%, var(--pink) 0%, var(--pink) 100%, transparent 100%) no-repeat left 0 bottom 0;
  background-size: 100% .4rem;
  transition: background-size 250ms ease;
}

#post-wrapper .post-content a.mhoapp.purple {
  color: inherit;
  background: linear-gradient(to top, transparent 0%, var(--purple) 0%, var(--purple) 100%, transparent 100%) no-repeat left 0 bottom 0;
  background-size: 100% .4rem;
  transition: background-size 250ms ease;
}

#post-wrapper .post-content a.mhoapp.red {
  color: inherit;
  background: linear-gradient(to top, transparent 0%, var(--red) 0%, var(--red) 100%, transparent 100%) no-repeat left 0 bottom 0;
  background-size: 100% .4rem;
  transition: background-size 250ms ease;
}

#post-wrapper .post-content a.mhoapp.teal {
  color: inherit;
  background: linear-gradient(to top, transparent 0%, var(--teal) 0%, var(--teal) 100%, transparent 100%) no-repeat left 0 bottom 0;
  background-size: 100% .4rem;
  transition: background-size 250ms ease;
}

#post-wrapper .post-content a.mhoapp:hover {
  color: var(--light) !important;
  background-size: 100% calc(1em + 6px);
}